<section class="card">
  <h2 class="recipe-name">Create Recipe</h2>
  <form class="recipe-details">
    <details class="recipe-info">
      <summary>
        <h3>Info</h3>
      </summary>
      <div class="form-group">
        <label for="recipe-name">Name: </label>
        <input id="recipe-name" size="10">
      </div>
      <div class="form-group">
        <label for="servings">Servings:</label>
        <input type="number" id="servings" size="10">
      </div>
      <div class="form-group">
        <label for="cook-time">Cook Time:</label>
        <input id="cook-time" size="10">
      </div>
      <div class="form-group">
        <label for="calories-per-serving">Calories per Serving:</label>
        <input type="number" id="calories-per-serving" size="10">
      </div>
    </details>
    <details class="recipe-ingredients">
      <summary>
        <h3>Ingredients</h3>
      </summary>
      <ul class="ingredient-list">
        <div class="buttons">
          <button class="edit-button">Add Ingredient</button>
        </div>
      </ul>
    </details>
    <details class="recipe-method">
      <summary>
        <h3>Method</h3>
      </summary>
      <ol class="method-list">
        <div class="buttons">
          <button class="edit-button">Add Method</button>
        </div>
      </ol>
    </details>
    <br>  
    <div class="buttons">
      <button class="edit-button">Edit Recipe</button>
      <button class="delete-button">Delete Recipe</button>
    </div>
  </form>
  
</section>