<section class="card">
  <h2 class="recipe-name">Recipe Name</h2>
  <div class="recipe-details">
    <details class="recipe-info">
      <summary><h3>Info</h3></summary>
      <p>Servings: 4</p>
      <p>Cook Time: 30 minutes</p>
      <p>Calories per Serving: 300</p>
    </details>
    <details class="recipe-ingredients">
      <summary>
        <h3>Ingredients</h3>
      </summary>
      <ul class="ingredient-list">
        <li>Ingredient 1</li>
        <li>Ingredient 2</li>
      </ul>
    </details>
    <details class="recipe-method">
      <summary>
        <h3>Method</h3>
      </summary>
      <ol class="method-list">
        <li>Instruction 1</li>
        <li>Instruction 2</li>
      </ol>
    </details>
  </div>
  <br>  
  <div class="buttons">
    <button class="edit-button">Edit Recipe</button>
    <button class="delete-button">Delete Recipe</button>
  </div>
</section>